// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.card-title{
    font-weight: bold;
}

.bullet {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
    list-style-type: disc;
    
    &:before {
        content: ""; 
    }
}